@font-face {
    font-family: futura;
    src: url(../fonts/Futura\ Bold\ font.ttf);
}
body{
    background-color: #F5F8FA;
}
.container{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F8FA;
}
nav img{
    width: 200px;
height: 200px;
position: relative;
left: 91px;
top: 36px;
}

.content h1{
font-weight: bold;
font-size: 52px;
line-height: 65px;
letter-spacing: -0.02em;
text-transform: uppercase;
color: #3A3A3A;
margin: 30px 0;
}
.content p{
    font-size: 32px;
line-height: 38px;
color: #707070;
margin: 30px 0;
}
.content ul{
    font-size: 32px;
    line-height: 38px;
    font-weight: bold;
}
.content ul li::before {
    content: "•"; 
    color:black;
    display: inline-block; 
    width: 1em;
 }
.first-section{
    margin-top: 100px;
    margin-left: 91px;
    display: flex;
}
.first-section .image1,.first-section .image2{
    margin: 0 45px;
}
.first-section .image1 img{
    width: 482.41px;
    height: 523.47px;
    position: absolute;
    left: 795px;
    top: 182px;
    z-index: 1;
    border-radius: 3px;

}
.first-section .image2 img{
    position: absolute;
    width: 482.41px;
    height: 635.79px;
    left: 1346.59px;
    top: 364.6px;
    border-radius: 3px;
}
.first-section .image1 .circle{
    position: absolute;
    width: 364.83px;
    height: 364.83px;
    left: 1135.9px;
    top: 231.33px;
border-radius: 50%;
background: #EE3025;
z-index: 0;
}
.second-section{
    display: flex;
    font-family: futura;
}
.second-section .image3 img{
    position: absolute;
width: 640.09px;
height: 797.51px;
left: 152.5px;
top: 1295px;
z-index: 1;
}
.second-section .contact-form{
position: absolute;
width: 1163px;
height: 742px;
left: 757px;
top: 1322px;
background-color: #EAF0F6;
background-image: radial-gradient(#DCDCDC 2px,transparent 2px);
background-size: 20px 20px;
}
.second-section .contact-form .form-content{
    padding: 50px 72px;
    margin-left: 152px;
}
.second-section .contact-form .form-content h1{
font-family: futura;
font-style: normal;
font-weight: 900;
font-size: 35px;
line-height: 32px;
color: #EE3025;
margin-bottom: 35px;
}
.form-row{
    display: flex;
}
.form-row input, .form-row select{
    background: #FFFFFF;
border: 2px solid #707070;
box-sizing: border-box;
border-radius: 4px; 
width:281.02px;
height: 56.2px;
margin: 0 70px 25px 0;
padding-left:5px;

}
.form-row label{
    font-family: futura;
font-style: normal;
font-weight: 450;
font-size: 16px;
line-height: 21px;
color: #787878;
}
.form-check label{
    font-family: futura;
    font-style: normal;
    font-weight: 450;
    font-size: 15px;
    line-height: 19px; 
    color: #707070;
}
.form-check{
    margin: 10px 0;
}
.form-content button{
    background: #EE3025;
border-radius: 5px;
border:none;
width:208.6px;
height:70.25px;
color:#fff;
font-weight: bold;
margin-top: 20px;
cursor: pointer;
}
.long{
    width: 633px !important;
}
.check-box{
    background-color: #EE3025;
border-radius: 4px;
width:17.83px;
height:17.83px;
margin-right: 12px;
cursor: pointer;
}
.dot-pattern2{
    position: absolute;
width: 236.99px;
height: 257.18px;
left: 91.91px;
top: 1891.5px;
background-image: radial-gradient( #787878 4px,transparent 4px);
background-size: 20px 20px;
}
.dot-pattern1{
    position: absolute;
width: 304.32px;
height: 335px;
left: 953.74px;
top: 620px;
background-image: radial-gradient( #787878 4px,transparent 4px);
background-size: 20px 20px;
}

footer div{
    text-align: center;
    width: 100%;
    font-family: futura;
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 32px;
color: #707070;
position: absolute;
bottom:0px;
padding: 70px 0;
background-image: radial-gradient(#DCDCDC 2px,transparent 2px);
background-size: 20px 20px;
}
